* {
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    color:  #fff;
    background-color: #fdf8db;   
    overflow-x: hidden; 
}    
.main-page-bg {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    background-image: url("../images/food-2068217_1920.jpg");
    background-size: cover;
}


.jumbotron a {
    text-decoration: none;
    list-style: none;
    color: #381D2A
}

hr {
    border-color: #381D2A;
}

/* @font-face {
    font-family: scriptina;
    src: url(SCRIPTIN.ttf);
}
header {
    color: #43803d; 
    font-family: scriptina;
} */

.v-header {
height: 100%;
display: flex;
align-items: center;

}


.row{
    width: 100%;
}

.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header-content {
    align-items: center;
    z-index: 2;
    width: 100%;
}

.fullscreen-video-wrap video {
    background-size: contain;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

.header-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #90c04a;
    opacity: .3;
}

.logo {
    opacity: .8;
    width: 534px;
}

.continue-link a {
    text-decoration: underline;
    color: #fff;
    display: block;
    text-align: center;
    
}

.continue-link .a {
    -webkit-animation-duration: 5s;
    -moz-animation-duration: 5s;
    -ms-transition-animation-duration: 5s;
}

.animated {
    -webkit-animation-duration: 2.5s;
    -moz-animation-duration: 2.5s;
    -ms-transition-animation-duration: 2.5s;
}

.logInRtn {
    -webkit-animation-duration: 2.5s;
    -moz-animation-duration: 2.5s;
    -ms-transition-animation-duration: 2.5s;
}

.wrapper {
    width: 100%;
    margin: 0;
    margin-right: 0;
    padding: 0;
    
}

.jumbotron {
    padding: 0;
    width: 100%;
    background: linear-gradient(90deg,rgba(144, 192, 74, 0.3), rgba(144, 192, 74, 1), rgba(144, 192, 74, 1), rgba(144, 192, 74, 1),rgba(144, 192, 74, 1),rgba(144, 192, 74, 1),rgba(144, 192, 74, 1),rgba(144, 192, 74, 1));
    border-bottom: #363946 1px solid;
    margin-bottom: 0;
}

.fa {
    height: 100%;
    width: 100%;
}

.links {
    list-style-type: none;
    
}

.linkBtn {
    height: 95px;
    width: auto;
    padding: 0;
    background-color: #fdf8db;
    border: #43803d 1px solid;
    padding: 0;
    
}

.linkBtn:hover {
    background-color: #43803d !important;
    color: #fdf8db !important;
}

button {
    height: 100%;
    width: 75px;
    border:1px solid #43803d;
    background-color: #90c04a;
}
button:hover {
    background-color: #381D2A !important;
    color: #f3d9b1;
}


#table_filter {
    height: 50px;
    width: 65%;
}

.search-btns {
    width: 32%;
}

#searchBtn {
    height: 50px;
}

#dropdown-button {
    float: right;
    height: 50px;
}

.searchFilter {
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    text-align: center;
}



.category_filters {
    padding: 0;
    margin: 0;
    margin-left: 25px;
}

.btn {
    background: radial-gradient(#90c04a, #43803d);
    border: #381D2A 1px solid;
    padding: 0;
}

.mid-bg {
    background: url(../images/cuisine-2248567_1920.jpg);
    background-size: cover;
}

.mid-trending-bg {
    background: url(../images/page-bg.jpg);
    background-size: cover;
}

.mid-favorites-bg {
    background: url(../images/cayenne-peppers-2779828_1920.jpg);
    background-size:  cover;
}

.pic-overlay {
    height: 85vh;
    width: 100%;
    position: absolute;
    background: linear-gradient(#90c04a,#fdf8db);
    opacity: .3;
    z-index: 2;
}

.pic-content {
    top: 10%;
    position: relative;
    text-align: center;
    z-index: 3;
    color: #fff;
}

.data {
    margin: 0 !important;
}

.images {
    background: linear-gradient(#fdf8db, #ffefa9);
    height: 250px;
    border: #381D2A 1px solid;
    opacity: .99;
    margin-left: auto;
}
.recipe {
    background: linear-gradient(#fdf8db, #ffefa9);
    height: 250px;
    text-align: center;
    border: #381D2A 1px solid;
    margin-right: auto;
    overflow-x: hidden;
}

.recipe-select{
    cursor: pointer;
    float: left;
    width: 75%;
    text-align: right;
}

.fa-heart {
    width: 15%;
    text-align: left;
}

#recipe-image{
    height: 225px;
    width: 325px;
    display: block;
    margin: 0 auto;
    padding-top: 12px;
}

.ingredients {
    background: linear-gradient( #ffefa9, #fcd949);
    text-align: center;
    border: #381D2A 1px solid;
    margin-left: auto;
    margin-right: auto; 
}

.card-body {
    background-image: url("../images/page-bg.jpg");
    border-radius: 10px;
    margin-bottom: auto;
    margin-top: 5%;
    padding: 20px;
}

.card-body p {
    float: left;
}

.card-body a {
    color: #fff;
    margin-left: 5px;
}

.favorite-img{
    widows: 40%;
}

.favorite-title {
    color: #381D2A
}

.contact-form {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    border-radius: 10px;
    background-color: #ffefa9;
}

.fab {
    color: #381D2A;
    text-decoration-color: #381D2A   
}

.footer {
    color: #381D2A;
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #fcd949;
    text-align: center;
    margin-bottom: 0;
    padding-top: 20px;
    border-top: solid;
    border-top-color: #381D2A;
    border-top-width: 5px;
}




