body {
    margin: 0;
    color:  #381D2A;
    background-color: #fdf8db;
    background-image: url("data:image/svg+xml,%3Csvg width='44' height='12' viewBox='0 0 44 12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 12v-2L0 0v10l4 2h16zm18 0l4-2V0L22 10v2h16zM20 0v8L4 0h16zm18 0L22 8V0h16z' fill='%23fcd949' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}    
li, a {
    text-decoration: none;
    list-style: none;
    color: #381D2A
}

a {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

a:hover {
    color: #f3d9b1;
    background-color: #381D2A !important;
    color: #f3d9b1 !important;
}
@font-face {
    font-family: scriptina;
    src: url(SCRIPTIN.ttf);
}
h1 {
    color: #43803d; 
    font-family: scriptina;
}

hr {
    border-color: #381D2A;
}

.wrapper {
    width: 100%;
    margin: 0;
    margin-right: 0;
    padding: 0;
    
}

.jumbotron {
    padding: 0;
    width: 100%;
    background: linear-gradient(90deg,rgba(144, 192, 74, 0.3), rgba(144, 192, 74, 0.85), rgba(144, 192, 74, 0.85), rgba(144, 192, 74, 0.85),rgba(144, 192, 74, 0.85),rgba(144, 192, 74, 0.85),rgba(144, 192, 74, 0.85),rgba(144, 192, 74, 0.9));
    border-bottom: #363946 1px solid;
    margin-bottom: 0;
}

.links {
    list-style-type: none;
    padding-left: 50px;
}

.linkBtn {
    height: 95px;
    padding: 0;
    background-color: #fdf8db;
    border: #43803d 1px solid;
    padding: 0;
    width: 95px;
}

.linkBtn:hover {
    background-color: #43803d !important;
    color: #fdf8db !important;
}

button {
    height: 100%;
    width: 75px;
    border:1px solid #43803d;
    background-color: #90c04a;
}
button:hover {
    background-color: #381D2A !important;
    color: #f3d9b1;
}

#table_filter {
    height: 50px;
}

#dropdown-button {
    float: right;
}

.searchFilter {
    margin-left: auto;
    margin-right: auto;
}

.category_filters {
    padding: 0;
    margin: 0;
    margin-left: 25px;
}

.btn {
    background: radial-gradient(#90c04a, #43803d);
    border: #381D2A 1px solid;
    padding: 0;
}



.images {
    background: linear-gradient(#90c04a, #fdf8db, #ffefa9);
    height: 250px;
    border: #381D2A 1px solid;
    border-radius: 5px;
    opacity: .99;
    margin-left: auto;
}
.recipe {
    background: linear-gradient(#90c04a, #fdf8db, #ffefa9);
    height: 250px;
    text-align: center;
    border: #381D2A 1px solid;
    border-radius: 5px;
    margin-right: auto;
    overflow: scroll;
}

.recipe-select{
    cursor: pointer;
}

#recipe-image{
    height: 225px;
    width: 325px;
    display: block;
    margin: 0 auto;
    padding-top: 12px;
}

.ingredients {
    background: linear-gradient( #ffefa9, #fcd949);
    text-align: center;
    border: #381D2A 1px solid;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto; 
}

.card-body {
    background-image: url(https://cdn.pixabay.com/photo/2017/06/06/22/46/mediterranean-cuisine-2378758_960_720.jpg);
    margin-bottom: auto;
    margin-top: 5%;
    padding: 20px
}